<template>
  <ul class="filters">
    <li>
      <a href="#ALL" @click="updateFilter('ALL')">All</a>
    </li>
    <li>
      <a href="#COMPLETED" @click="updateFilter('COMPLETED')">Completed</a>
    </li>
    <li>
      <a href="#UNCOMPLETED" @click="updateFilter('UNCOMPLETED')">Uncompleted</a>
    </li>
  </ul>
</template>

<script>
export default {
  name: "TodoFilter",
  methods: {
    updateFilter(filter) {
      this.$store.commit("updateFilter", filter);
    }
  }
};
</script>

<style scoped>
ul.filters {
  list-style: none;
  padding: 0;
}
.filters li {
  display: inline-block;
  padding: 0 5px;
}
</style>
