<template>
  <div>
    <input ref="add" @keyup.enter="addTodo" v-model="todo" type="text" placeholder="Add Todo">
    <button @click="addTodo">Add</button>
  </div>
</template>

<script>
export default {
  name: "TodoInput",
  data: () => ({
    todo: ""
  }),
  methods: {
    addTodo() {
      if (this.todo.trim()) {
        this.$store.commit("addTodo", this.todo.trim());
        this.todo = "";
      }
      this.$refs.add.focus();
    }
  }
};
</script>

<style scoped>
input {
  height: 2em;
  padding: 0.1em 0.8em;
}
button {
  height: 2.5em;
}
</style>
