<template>
  <div id="todoApp">
    <h1>TODO App</h1>
    <TodoInput></TodoInput>
    <TodoFilter></TodoFilter>
    <hr>
    <TodoList></TodoList>
  </div>
</template>

<style scoped>
#todoApp {
  width: 400px;
  margin: 0 auto;
}
</style>


<script>
import { FILTERS } from "../main";
import TodoList from "./TodoList";
import TodoFilter from "./TodoFilter";
import TodoInput from "./TodoInput";
export default {
  name: "Todo",
  components: {
    TodoList,
    TodoFilter,
    TodoInput
  }
};
</script>