<template>
  <ul class="todos">
    <li
      v-for="todo in getTodos"
      @click="toggleTodo(todo.id)"
      v-bind:key="todo.id"
      :class="[todo.done ? 'completed' : '']"
    >
      <input type="checkbox" :checked="todo.done">
      {{todo.text}}
    </li>
  </ul>
</template>

<script>
import { FILTERS } from "../main";
export default {
  name: "TodoList",
  computed: {
    getTodos() {
      switch (this.$store.state.filter) {
        case FILTERS.COMPLETED:
          return this.$store.getters.doneTodos;
          break;
        case FILTERS.UNCOMPLETED:
          return this.$store.getters.uncompletedTodos;
          break;
        case FILTERS.ALL:
        default:
          return this.$store.state.todos;
          break;
      }
    }
  },
  methods: {
    toggleTodo(id) {
      this.$store.commit("toggleTodo", id);
    }
  }
};
</script>

<style scoped>
ul.todos {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 1.4em;
}
.todos li {
  padding: 0 0 0.2em 0;
  cursor: pointer;
}
.todos li:hover {
  background-color: #f1f1f1;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}
</style>
